<div id="splashScreen">

    <style>
        #splashScreen {
            height: 100%;
            position: absolute;
            width: 100%;
            top: 0;
            z-index: 2000000;
            background: #EBFFFF;
            background: linear-gradient(45deg, #ffadd5 0%, #ed3a60 100%);
        }

        @keyframes floatyHeart {
            0% {
                transform: translateY(0px);
                opacity: 0;
            }

            60% {
                transform: translateY(0px);
                opacity: 0;
            }
            62% {
                opacity: 1;
            }

            80% {
                opacity: 1;
                transform: translateY(-100px) translateX(40px) scale(.9) rotate(10deg);
            }
            98% {
                opacity: 1;
            }

            100% {
                transform: translateY(-200px);
                opacity: 0;
            }
        }

        #minor-heart-1 {
            opacity: 0;
            animation: floatyHeart 6s linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }

        @keyframes floatyHeart2 {
            0% {
                transform: translateY(0px);
                opacity: 0;
            }

            40% {
                transform: translateY(0px);
                opacity: 0;
            }
            42% {
                opacity: 1;
            }

            60% {
                opacity: 1;
                transform: translateY(-60px) translateX(-40px) scale(.9) rotate(-30deg);
            }
            78% {
                opacity: 1;
            }

            80% {
                transform: translateY(-90px) rotate(20deg);
                opacity: 0;
            }
        }

        #minor-heart-2 {
            opacity: 0;
            animation: floatyHeart2 6s linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }

        @keyframes floatyHeart3 {
            0% {
                transform: translateY(0px);
                opacity: 0;
            }

            10% {
                transform: translateY(0px);
                opacity: 0;
            }
            12% {
                opacity: 1;
            }
            20% {
                transform: translateY(-50px) translateX(-10px) scale(1.05) rotate(-5deg);
            }

            30% {
                opacity: 1;
                transform: translateY(-100px) translateX(20px) scale(.9) rotate(15deg);
            }
            58% {
                opacity: 1;
            }

            60% {
                transform: translateY(-200px) translateX(-7px) scale(1.1) rotate(-10deg);
                opacity: 0;
            }
        }

        #minor-heart-3 {
            opacity: 0;
            animation: floatyHeart3 6s linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }

        @keyframes floatyHeart4 {
            0% {
                transform: translateY(0px);
                opacity: 0;
            }

            1% {
                transform: translateY(0px);
                opacity: 0;
            }
            3% {
                opacity: 1;
            }

            30% {
                opacity: 1;
                transform: translateY(-90px) translateX(-20px) scale(.9) rotate(-15deg);
            }
            32% {
                opacity: 0;
            }
        }

        #minor-heart-4 {
            opacity: 0;
            animation: floatyHeart4 6s linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }

        @keyframes heartBeat {
            0% {
                transform: scale(1);
            }

            14% {
                transform: scale(1.2);
            }

            28% {
                transform: scale(1);
            }

            42% {
                transform: scale(1.2);
            }

            70% {
                transform: scale(1);
            }
        }

        #main-heart-and-cogent {
            animation: heartBeat 2s ease-in-out infinite;
            transform-origin: center;
            transform-box: fill-box;
        }

        #Layer_1 {
            max-height: 400px;
            height: 100%;
        }
    </style>

</div>