@if (operation === 'Requested') {
<div class="center" animate.enter="slide-in" animate.leave="fade-out">
  <app-lottie-player src="https://lottie.host/fccee11d-e1a8-491e-9d05-276e0324faa6/rjywfpUeJj.json"
    [intermission]="10000" height="100px"></app-lottie-player>
  <p class="info" style="margin-bottom: 40px;">
    Quote Requested!
  </p>
  <!-- <button mat-icon-button (click)="closePanel()">
    <mat-icon>close</mat-icon>
  </button> -->

  <p>We've sent of a request to one of our licensed, insured service professionals<br><br>Below you can find their
    contact information:</p>
  <app-cpoh-quote-detail [quote]="quote"></app-cpoh-quote-detail>
</div>
}
@if (operation === 'Requesting') {
<div animate.enter="slide-in" animate.leave="fade-out">
  <div class="center">
    <h2>Request a Quote</h2>
    <p class="info">
      {{finding?.description}}
    </p>
  </div>
  <p *ngIf="finding?.extendedDescription">
    {{finding?.extendedDescription}}
  </p>
  <div class="center">
    <button mat-button mat-raised-button color="primary" (click)="requestQuote()">
      Request Quote
    </button>
    <div>
      <div class="separator">OR</div>
    </div>
    <button mat-button mat-raised-button color="warn" (click)="declineRepair()">
      Decline Repair
    </button>
  </div>
</div>
}