<div class="slide-bg">

  <video [autoplay]="'autoplay'" [muted]="'muted'" loop id="myVideo">
    @if (location === 'AZ') {
      <source src="https://elevateh.blob.core.windows.net/cdn/video/scenery/az-landscape.mp4" type="video/mp4">
    }
    @if (location === 'NV') {
      <source src="https://elevateh.blob.core.windows.net/cdn/video/scenery/vegas-night-2.mov" type="video/mp4">
    }
    @if (location === 'UT') {
      <source src="https://elevateh.blob.core.windows.net/cdn/video/scenery/utah-skiing.mov" type="video/mp4">
    }
  </video>
</div>

<div class="city">
  <h2>{{stateName}}</h2>
  <!-- <h3>{{stateName}}</h3> -->
</div>

<div class="time">
  <h1>
  {{time}}</h1>
</div>

<div class="bottom-banner">

  @for (item of displayForcast; track item) {
    <div>
      {{item.dayName}}<br>
      <app-lottie-player [src]="item.lottieUrl" height="150px" [intermission]="0"></app-lottie-player><br>
      {{item.high}}° / {{item.low}}°
    </div>
  }
</div>