<div id="splashScreen">

    <div style="display: table; margin: 0 auto; height: 100vh">
        <div style="display: grid;height: 100%;align-items: center;">
            <div>
                <svg id="cogent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 439 523.69">
                    <defs>
                        <style>
                            .cls-1 {
                                stroke-width: 8px;
                            }

                            .cls-1,
                            .cls-2 {
                                fill: none;
                                stroke: #ee52f4;
                                stroke-linecap: round;
                                stroke-miterlimit: 10;
                            }

                            .cls-2 {
                                stroke-width: 15px;
                            }

                            .cls-3 {
                                fill: #b3b3b3;
                                stroke-width: 0px;
                            }
                            @keyframes bounce-up {
                                from {
                                    transform: translateY(0);
                                }

                                25% {
                                    transform: translateY(-40px);
                                }

                                50% {
                                    transform: translateY(0);
                                }
                            }

                            .line {
                                animation: bounce-up 3s ease;
                                animation-iteration-count: infinite;
                            }

                            .line2 {
                                animation-delay: .1s;
                            }

                            .line3 {
                                animation-delay: .2s;
                            }

                            .line4 {
                                animation-delay: .3s;
                            }

                            .line5 {
                                animation-delay: .4s;
                            }

                            .line6 {
                                animation-delay: .5s;
                            }

                            @keyframes blink {
                                from {
                                    opacity: 1;
                                }

                                25% {
                                    opacity: .25;
                                }

                                50% {
                                    opacity: 1;
                                }
                            }

                            .loading {
                                animation: blink 3s ease;
                                animation-iteration-count: infinite;

                            }
                        </style>
                    </defs>
                    <line class="cls-2 line line1" x1="147.5" y1="241.71" x2="147.5" y2="397.53" />
                    <line class="cls-2 line line2" x1="186.9" y1="216.87" x2="186.9" y2="372.69" />
                    <line class="cls-2 line line3" x1="226.3" y1="245.47" x2="226.3" y2="357.64" />
                    <line class="cls-2 line line4" x1="265.7" y1="195.03" x2="265.7" y2="350.86" />
                    <line class="cls-2 line line5" x1="305.1" y1="254.51" x2="305.1" y2="372.69" />
                    <line class="cls-2 line line6" x1="344.5" y1="278.53" x2="344.5" y2="397.53" />
                    <path class="cls-3 loading" d="M156.7,498.64h3.68v22.01h13.52v2.68h-17.2v-24.69Z" />
                    <path class="cls-3 loading"
                        d="M184.66,522.15c-1.79-1.02-3.16-2.49-4.12-4.41-.96-1.92-1.44-4.17-1.44-6.76s.48-4.84,1.44-6.76c.96-1.92,2.33-3.39,4.12-4.41,1.79-1.02,3.89-1.53,6.32-1.53s4.53.51,6.3,1.53c1.77,1.02,3.14,2.49,4.1,4.41.96,1.92,1.44,4.17,1.44,6.76s-.48,4.84-1.44,6.76c-.96,1.92-2.33,3.39-4.1,4.41-1.77,1.02-3.87,1.53-6.3,1.53s-4.53-.51-6.32-1.53ZM195.32,519.84c1.24-.82,2.19-1.99,2.84-3.51.65-1.52.98-3.3.98-5.34s-.33-3.83-.98-5.34c-.65-1.52-1.6-2.69-2.84-3.51-1.24-.82-2.69-1.24-4.34-1.24s-3.13.41-4.36,1.24c-1.23.82-2.17,1.99-2.84,3.51-.67,1.52-1,3.3-1,5.34s.33,3.83,1,5.34c.67,1.52,1.61,2.69,2.84,3.51s2.68,1.24,4.36,1.24,3.1-.41,4.34-1.24Z" />
                    <path class="cls-3 loading"
                        d="M224.66,518.01h-10.88l-1.88,5.33h-3.92l9.52-24.69h3.44l9.52,24.69h-3.92l-1.88-5.33ZM223.7,515.36l-4.48-12.66-4.48,12.66h8.96Z" />
                    <path class="cls-3 loading"
                        d="M238.7,498.64h8.88c3.65,0,6.41,1,8.26,3,1.85,2,2.78,4.95,2.78,8.85,0,3.06-.41,5.52-1.24,7.39s-2.13,3.25-3.9,4.13c-1.77.88-4.11,1.32-7.02,1.32h-7.76v-24.69ZM247.1,520.65c2.72,0,4.71-.81,5.96-2.43,1.25-1.62,1.88-4.2,1.88-7.73,0-3.13-.61-5.44-1.84-6.93-1.23-1.49-3.12-2.24-5.68-2.24h-5.04v19.33h4.72Z" />
                    <path class="cls-3 loading" d="M268.7,498.64h3.68v24.69h-3.68v-24.69Z" />
                    <path class="cls-3 loading"
                        d="M304.78,498.64v24.69h-3.64l-13.56-19.54v19.54h-3.68v-24.69h3.88l13.32,19.3v-19.3h3.68Z" />
                    <path class="cls-3 loading"
                        d="M335.3,510.56v12.77h-2.48l-.6-1.55c-.88.61-1.91,1.08-3.1,1.41-1.19.33-2.45.49-3.78.49-2.4,0-4.48-.51-6.24-1.53-1.76-1.02-3.11-2.49-4.04-4.39s-1.4-4.16-1.4-6.77.5-4.8,1.5-6.7c1-1.91,2.41-3.38,4.24-4.43,1.83-1.05,3.97-1.57,6.42-1.57,2.08,0,3.92.34,5.52,1.02,1.6.68,2.77,1.62,3.52,2.82l-2.04,1.8c-.69-.96-1.63-1.7-2.82-2.2-1.19-.51-2.57-.76-4.14-.76-2.67,0-4.75.88-6.24,2.65s-2.24,4.22-2.24,7.37.73,5.69,2.18,7.48c1.45,1.79,3.49,2.68,6.1,2.68,1.23,0,2.35-.15,3.38-.46,1.03-.31,1.9-.75,2.62-1.34v-6.39h-6.68v-2.4h10.32Z" />
                    <polyline class="cls-1 loading"
                        points="4 79.28 195.7 79.28 231 11.28 258.22 122.28 290 49.28 322.9 70.78 435 77.78" />
                </svg>


            </div>
        </div>

    </div>
</div>