.condition-list {
    list-style-type: none;
    padding-left: 0;
}

.condition-list li {
    border-bottom: 1px dotted #ddd;
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 12px;
    >div {
        display: grid;
        grid-template-columns: auto 1fr; 
        column-gap: 20px;
        >mat-icon:first-child {
            font-size: 32px;
            height: 32px;
            width: 32px;
        }
        >div:last-child {
            >div:last-child {
                display: grid;
                grid-template-columns: 1fr auto;
            }
        }
    }
}
.condition-list h2 {
    margin: 0;
}