.condition-list {
    list-style-type: none;
    padding-left: 0;
}

.condition-list li {
    border-bottom: 1px dotted #ddd;
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 12px;

    >div {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 20px;

        >mat-icon:first-child {
            font-size: 32px;
            height: 32px;
            width: 32px;
        }

        >div:last-child {
            >div:last-child {
                display: grid;
                grid-template-columns: 1fr auto;
            }
        }
    }
}

.condition-list h2 {
    margin: 0;
}

.receipt-container {
    position: relative;
    display: inline-block;

    .badge {
        position: absolute;
        top: -2px;
        right: -5px;
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }
}

.inspection-row {
    cursor: pointer;

    &:hover {
        background-color: #f9f9f9;
    }
}