$barTop: 50px;
$bottomMargin: 60px;

.step-container {
    margin-top: 30px;
    padding-left: 30px;
}

.step-container > div {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    margin-bottom: $bottomMargin;
    position: relative;
}

.step-container > div.completed:not(:last-child)::after {
    content: "";
    display: block;
    width: 4px;
    height: 40px;
    background-color: #28a745;
    position: absolute;
    left: 18px;
    top: $barTop;
}

.step-container > div > div:first-child > div {
    border-radius: 50%;
    background-color: orange;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
}

.step-container > div.completed > div:first-child > div {
    background-color: #28a745;
    color: white;
}

.step-container > div > div:first-child > div mat-icon {
    margin-top: 8px;
}



.upcoming {
    color: #aaa !important;
}

.step-container > div.current > div:first-child > div {
    background-color: #007bff;
    color: white;
}

.step-container h2 {
    font-size: 17px;
    font-weight: bold;
}

.step-container > div.upcoming > div:first-child > div {
    background-color: #ddd;
}

.step-container > div.current:not(:last-child)::after {
    content: "";
    display: block;
    width: 4px;
    height: 40px;
    background-color: #ddd;
    position: absolute;
    left: 18px;
    top: $barTop;
}
