<div class="center">
    <app-lottie-player src="https://lottie.host/aa2210c6-d88d-4a70-b4ce-8ceb9ce99edd/rPQUjomjHX.json"
        height="150px"></app-lottie-player>
    <h1>Your quote has been sent</h1>
    <p>You should be contacted shortly by on of our licensed, insured service professionals.<br>
    </p>
    <p>They will perform an evaluation of the issue and we will contact you with a bid for the cost of the repairs.</p>
    <div>
        <div class="separator">OR</div>
    </div>
    <button mat-button mat-raised-button color="warn" (click)="cancelQuote()">
        Cancel Quote Request
    </button>
</div>