mat-dialog-content {
    min-width: 300px;
}
mat-dialog-actions {
    text-align: right;
}

[matDialogTitle] {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-bottom: 10px;
}

.big-icon {
    font-size: 90px;
    color: #4dad3e;
}

@media(max-width: 600px) {
    .big-icon {
        font-size: 32px;
    }
}

