<div class="app">
    <div>
        <div id="background-image-container" [style.background-position-x]="aPosistionX"></div>
        <div style="padding: 20px">
            <mat-tab-group [(selectedIndex)]="selectedIndex" class="hide-tabs">
                <mat-tab>
                    <h1>Contact Stuff</h1>


                </mat-tab>
                <mat-tab>
                    <h1>Request Service</h1>
                </mat-tab>

                <mat-tab>
                    <div class="center">
                        <img style="border-radius: 50%;"
                            src="https://dev-api.upkeeplabs.com/api/entity/thumbnail/b7f4e0c9-daa7-46ea-8d51-0634d4e3b23b">
                        <h1 style="margin-bottom: 10;font-size: 64px;">Welcome</h1>
                        <h2>Bills Trade Services</h2>
                    </div>
                

                    <div class="card-view">
                        <mat-card>
                            <div class="card-container">
                                <div>
                                    <h2 class="sub-heading hide-sm">Upcomming Appointments</h2>
                                    <div class="upcomming-job hide-sm" >
                                        <div>
                                            <h2>6</h2>
                                            <div>Jun</div>
                                        </div>
                                        <div>
                                            <div>12253 W Ashby Dr</div>
                                            <div>Pool Maintenance</div>
                                        </div>
                                    </div>
                                    <div class="center v-center show-sm" style="margin-top: 30px;">
                                        <h1 class="big-data">1</h1>
                                        <div class="data-label">Appointments</div>
                                    </div>
                
                                </div>
                                <div>
                                    <button mat-button>
                                        See More <mat-icon iconPositionEnd>chevron_right</mat-icon>
                                    </button>
                                </div>
                            </div>
                
                        </mat-card>
                
                        <mat-card>
                            <div class="card-container">
                                <div class="center v-center">
                                    <h1 class="big-data">1</h1>
                                    <div class="data-label">Calls Today</div>
                                </div>
                                <div>
                                    <button mat-button>
                                        See More <mat-icon iconPositionEnd>chevron_right</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card>
                        <mat-card>
                
                            <div class="card-container">
                                <div class="center v-center">
                                    <h1 class="big-data">3</h1>
                                    <div class="data-label">Pending Offers</div>
                                </div>
                                <div>
                                    <button mat-button>
                                        See More <mat-icon iconPositionEnd>chevron_right</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card>
                        <mat-card>
                
                            <div class="card-container">
                                <div class="center v-center">
                                    <h1 class="big-data">4</h1>
                                    <div class="data-label">Recurring Maintenance Customers</div>
                                </div>
                                <div>
                                    <button mat-button>
                                        See More <mat-icon iconPositionEnd>chevron_right</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card>
                
                        <mat-card>
                            <div class="card-container">
                                <div class="center v-center">
                                    <h1 class="big-data">4</h1>
                                    <div class="data-label">Uncompleted Past Appointments</div>
                                </div>
                                <div>
                                    <button mat-button>
                                        See More <mat-icon iconPositionEnd>chevron_right</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                
                    <h2 style="margin-top: 40px;">Other Options</h2>
                    <div class="min-card-view" style="padding-bottom: 80px;">
                        <button mat-button>
                            <div>
                                <mat-icon>paid</mat-icon>
                                <br>
                                Billing
                            </div>
                        </button>
                        <button mat-button>
                            <div>
                                <mat-icon>find_in_page</mat-icon>
                                <br>
                                Reports
                            </div>
                        </button>
                        <button mat-button>
                            <div>
                                <mat-icon>event_busy</mat-icon>
                                <br>
                                Recent Cancellations
                            </div>
                        </button>
                        <button mat-button>
                            <div>
                                <mat-icon>calendar_month</mat-icon>
                                <br>
                                Calendar
                            </div>
                        </button>
                        <button mat-button>
                            <div>
                                <mat-icon>settings</mat-icon>
                                <br>
                                Settings
                            </div>
                        </button>
                    </div>
                </mat-tab>
                <mat-tab>
                    <h1>Payments</h1>
                </mat-tab>
                <mat-tab>
                    <h1>Settings</h1>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div>

        </div>
    </div>
</div>
<div class="menu-bar">
    <div class="menu-dot" [style.left]="dotLeft" [class.moving]="isMoving">
        <mat-icon *ngIf="selectedMenuItem && showDotIcon">
            {{selectedMenuItem.cssClass}}
        </mat-icon>

    </div>
    <div [style.mask-position]="maskPosition">




        <div>
            <div>
                <button [class.selected]="menuItem === selectedMenuItem" [id]="menuItem.id"
                    *ngFor="let menuItem of menuItems" (click)="selectMenuItem(menuItem)">
                    <mat-icon>{{menuItem.cssClass}}</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>


<!-- <?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 650 142">
    <defs>
        <style>
            .cls-1 {
                fill: #fff;
            }

            .cls-2 {
                fill: #666;
            }

            .cls-3 {
                fill: #999;
            }
        </style>
    </defs>
    <g id="bg">
        <rect class="cls-2" y="52" width="650" height="90" />
    </g>
    <g id="mask">
        <path class="cls-1"
            d="M228,51.5H95s9,1,12,11v-.09c5.13,28.48,30.04,50.09,60,50.09s54.87-21.61,60.01-50.09v.09c2.99-10,11.99-11,11.99-11h-11Z" />
    </g>
    <g id="circle">
        <circle class="cls-3" cx="167" cy="51" r="51" />
    </g>
</svg> -->