<ol>
    <li>
        We send your request for a bid to one of our licensed, insured service professionals in your area.
    </li>
    <li>
        The will create a repair bid at not cost or obligation to you.
    </li>
    <li>
        You can review the bid, ask questions, and either accept or reject the bid.
    </li>
    <li>
        Once the bid is accepted, the work will be peformed.
    </li>
    <li>
        Once complete, Elevate will certify the work as part of the CPOH program.
    </li>
</ol>
