ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 10px;
    list-style: none;
    margin-bottom: 40px;
}

.container {
    display:  table;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

mat-card {
    margin-bottom: 20px;
    >h2 {
        text-align: center;
        border-bottom: 1px dotted #ccc;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    border: 1px dotted #ccc;
    box-shadow: none;
}