ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 10px;
    list-style: none;
    margin-bottom: 40px;
}

.container {
    display:  table;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}