<h1>Menu</h1>

<ul>
    <li>
        <a mat-button routerLink="/autho">Autho</a>
    </li>
    <li>
        <a mat-button routerLink="/record">Voice Recording</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-curly">Cogent Load Cursive</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-hex">Cogent Load Hex</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-vert-lines">Cogent Load Equalizer</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-pulse">Cogent Load Pulse</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-radial">Cogent Load Radial</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-bubbles">Cogent Load Bubbles</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-pong">Cogent Load Pong</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-halloween">Cogent Load Halloween</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-summer">Cogent Load Summer</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-independence">Cogent Load Independence</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-birthday">Cogent Load Birthday</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-christmas">Cogent Load Christmas</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-thanksgiving">Cogent Load Thanksgiving</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-st-patricks">Cogent Load St. Patricks</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-valentines-day">Cogent Load Valentines Day</a>
    </li>
    <li>
        <a mat-button routerLink="/clip-path-test">Clip Path Test</a>
    </li>
    <li>
        <a mat-button routerLink="/wallpaper">Wallpaper</a>
    </li>

    <li>
        <a mat-button routerLink="/image-resize">Image Resize</a>
    </li>
    <li>
        <a mat-button routerLink="/game">Game</a>
    </li>
    <li>
        <a mat-button routerLink="/box-test">Box Test</a>
    </li>
    <li>
        <a mat-button routerLink="/wig-visual">WIG Visual</a>
    </li>
    <li>
        <a mat-button routerLink="/edge">Edge</a>
    </li>
    <li>
        <a mat-button routerLink="/back-to-school">Back To School</a>
    </li>
    <li>
        <a mat-button routerLink="/contractor-home">Contractor Home</a>
    </li>
    <li>
        <a mat-button routerLink="/gears">Gears</a>
    </li>
    <li>
        <a mat-button routerLink="/appliance-autho">Appliance Autho</a>
    </li>
    <li>
        <a mat-button routerLink="/dashboard">dashboard</a>
    </li>
    <li>
        <a mat-button routerLink="/throb">Throb Test</a>
    </li>
    <li>
        <a mat-button routerLink="/communication-hub">Communication Hub</a>
    </li>
    <li>
        <a mat-button routerLink="/reactive-forms-test">Reactive Forms</a>
    </li>

    <li>
        <a mat-button routerLink="/diagram-editor">Diagrams</a>
    </li>
    <li>
        <a mat-button routerLink="/bottom-menu">Bottom Menu</a>
    </li>
</ul>
