<h1>Menu</h1>

<ul>
    <li>
        <a mat-button routerLink="/autho">Autho</a>
    </li>
    <li>
        <a mat-button routerLink="/record">Voice Recording</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-curly">Cogent Load Cursive</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-hex">Cogent Load Hex</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-vert-lines">Cogent Load Equalizer</a>
    </li>
    <li>
        <a mat-button routerLink="/cogent-load-pulse">Cogent Load Pulse</a>
    </li>
</ul>
