#splashScreen {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2000000;
    background: #f9fab4;
    background: linear-gradient(45deg, #cce0f4 0%, #c2dcf2 6%, #a9d2ee 17%, #7fc2e7 31%, #46abdd 46%, #1e9cd7 57%, #0075be 87%, #005b97 100%);
}