$speed: .5s;
$bar-height: 60px;
$color: #ffa500;
$inactive-color: #a8590a;
$background: linear-gradient(0deg, #FFDBB0 0%, #FFF0CA 100%);
$bounce-height: 5px;
$scale-height-max: 0.8;
$scale-height-min: 1;
$bounce-height: 100px;

@keyframes gbc-mask-bounce {
    from {
        -webkit-mask-position-y: 0;
    }

    50% {
        -webkit-mask-position-y: -50px;
    }

    75% {
        -webkit-mask-position-y: 0;
    }

    100% {
        -webkit-mask-position-y: 0;
    }
}

.menu-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: $bar-height;
    z-index: 2;
    >div:not(.menu-dot) {
        background-color: $color;
        background: $background;
        height: 100%;
        position: relative;
        mask-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewBox%3D%220%200%204200%20120%22%3E%0A%20%20%3C%21--%20Generator%3A%20Adobe%20Illustrator%2029.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%202.1.0%20Build%20142%29%20%20--%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cstyle%3E%0A%20%20%20%20%20%20.st0%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20%23e6e6e6%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%3C%2Fstyle%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Cpath%20class%3D%22st0%22%20d%3D%22M2090.1%2C0s-8.3.8-10.4%2C9.4h0c-3.1%2C19.6-18.1%2C34.5-36.2%2C34.5s-33.2-14.9-36.3-34.5h0C2005.3%2C0%2C1996.9%2C0%2C1996.9%2C0H0v120h4200V0h-2109.9Z%22%2F%3E%0A%3C%2Fsvg%3E);
        mask-size: 4200px 120px;
        mask-repeat: no-repeat;
        mask-position: -2000px 0px;
        mask-composite: exclude;
        transition: mask-position .5s ease;

        &.mask-bounce {
            animation: gbc-mask-bounce 0.5s ease;
        }

        &.hide-mask {
            -webkit-mask-position-y: 0;
        }

        >div:not(.menu-dot) {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;

            >div {
                display: table;
                margin: 0 auto;
                height: 100%;

                >button {
                    width: 70px;
                    text-align: center;
                    display: inline-block;
                    align-content: center;
                    height: $bar-height;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    vertical-align: top;
                    outline: none;

                    mat-icon {
                        height: 30px;
                        width: 30px;
                        font-size: 30px;
                        position: relative;
                        transition: all $speed;
                        transform-origin: 0% 100%;
                        color: $inactive-color;
                    }

                    img {
                        height: 28px;
                        transition: all $speed;
                        transform-origin: 0% 100%;
                    }

                    &.selected {

                        mat-icon,
                        img {
                            opacity: 0;
                            transform: scaleY(0);
                        }
                    }
                }
            }
        }
    }
}



@keyframes wiggle {
    from {
        transform: translateY(0) scaleY($scale-height-max);
    }

    50% {
        transform: translateY(-$bounce-height) scaleY($scale-height-max);
    }

    75% {
        transform: translateY(5px) scaleY($scale-height-min);
    }

    100% {
        transform: translateY(0);
    }
}

.icon-mask {
    background: rgba(248, 104, 50, 1);
    position: absolute;
    left: calc(50% - 16px);
    top: 8px;
    height: 32px;
    width: 32px;
    font-size: 26px;
    transform-origin: 50% 100%;
    opacity: .85;
}

.menu-dot {
    position: absolute;
    left: 39px;
    height: 52px;
    top: -20px;
    transition: left 0.5s ease;
    width: 52px;
    border-radius: 50%;
    background: $background;
    transform-origin: 50% 0%;
    border: 1px solid rgba(248, 104, 50, 1);

    &.moving {
        animation: wiggle $speed ease;
    }

    mat-icon {
        color: rgba(248, 104, 50, 1);
        position: absolute;
        left: calc(50% - 18px);
        top: 8px;
        height: 36px;
        width: 36px;
        font-size: 36px;
        transform-origin: 50% 100%;
        opacity: .85;
    }

    img {
        height: 36px;
        text-align: center;
        left: calc(50% - 18px);
        transform-origin: 50% 100%;
        opacity: .85;
        top: 8px;
        position: absolute;
    }
}