<div class="menu-bar">


  @if (!notPrimaryOrSecondaryMenu) {
    <div class="menu-dot" [style.left]="dotLeft"
      [class.moving]="moveMask">
      @if (selectedMenuItem && showDotIcon  && !selectedMenuItem.iconUrl) {
        <mat-icon>
          {{selectedMenuItem.icon}}
        </mat-icon>
      }
      @if (selectedMenuItem && showDotIcon  && selectedMenuItem.iconUrl) {
        <div class="icon-mask"
        [style.mask]="getMask()"></div>
      }

  </div>
}
<div [style.-webkit-mask-position-x]="maskPosition" [class.hide-mask]="notPrimaryOrSecondaryMenu "
  [class.mask-bounce]="moveMask">
  <div>
    <div>
      @for (menuItem of primaryRoutes; track menuItem) {
        <button [class.selected]="menuItem === selectedMenuItem  && !notPrimaryOrSecondaryMenu"
          [title]="menuItem.title" [id]="menuItem.id"
          (click)="selectMenuItem(menuItem)">
          @if (!menuItem.iconUrl) {
            <mat-icon>{{menuItem.icon}}</mat-icon>
          }
          @if (menuItem.iconUrl) {
            <img src="{{menuItem.iconUrl}}" />
          }
        </button>
      }

      @if (secondaryRoutes?.length) {
        <button id="bottom-menu-more-btn" [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
      }
      <mat-menu #menu="matMenu">
        @for (secondary of secondaryRoutes; track secondary) {
          <button mat-menu-item
            (click)="secondaryRouteClicked(secondary)">
            <mat-icon>{{secondary.icon}}</mat-icon> {{secondary.title}}
          </button>
        }
      </mat-menu>

    </div>
  </div>
</div>
</div>


