.bg-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    text-align: center;
    overflow: hidden;
}

.second-step {
    
    height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}


.scroller {
    transition: transform .5s ease; 
    transform: translateY(0) translateX(0);

}
.scroller.scrolled {
    transform: translateY(-100vh);
}

.center-section {
    width: 800px;
    display: table;
    margin: 0 auto;
    position: relative;
    background-color: #000;
    height: 100%;
}

.center-section::before {
    content: ' ';
    background: linear-gradient(0deg, rgba(37, 117, 141, 0) 0%, rgba(37, 117, 141, 1) 50%, rgba(37, 117, 141, 0) 100%);
    position: absolute;
    width: 5px;
    left: -5px;
    top: 0;
    height: 100%;
}


.center-section::after {
    content: ' ';
    background: linear-gradient(0deg, rgba(37, 117, 141, 0) 0%, rgba(37, 117, 141, 1) 50%, rgba(37, 117, 141, 0) 100%);
    position: absolute;
    width: 5px;
    right: -5px;
    top: 0;
    height: 100%;
}

@keyframes back-glow-pulse {
    from {
        box-shadow: 0 0 41px 59px rgb(37 117 141);
        transform: translate(0, -10px);
    }
    to {
        box-shadow: 0 0 18px 53px rgb(37 117 141);
        transform: translate(0, 20px);
    }
}

.back-glow {
    position: absolute;
    height: 200%;
    width: calc(100% - 80px);
    z-index: 0;
    left: 40px;
    border-radius: 50%;
    box-shadow: 0 0 41px 59px rgb(37 117 141);
    top: calc(100% - 150%);
    animation-name: back-glow-pulse;
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.fore-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #000;
    background-image: url(../../../assets/images/dark-bg-img.jpg);
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.big-button {
    border-radius: 33px;
    font-size: 24px;
    font-weight: 100;
    text-transform: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#logo-container{
    display: table;
    margin: 0 auto;
    max-width: 400px;
    margin-top: calc(50% - 40px);
    position: relative;
}

@keyframes fade-to-white {
    from {
        filter: brightness(1) invert(0)
    }
    to {
        filter: brightness(0) invert(1);
    }
}

#logo-container svg {
    /* animation-delay: 4s;
    animation-name: fade-to-white;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-fill-mode: forwards; */
    height: 100px;
}

@keyframes pulse-glow {
    from {
        opacity: .4;
    }
    to {
        opacity: .6;
    }
}

#logo-container::after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    left: calc(50% - 50%);
    top: calc(50% - 50%);
    border-radius: 50%;
    z-index: -1;
    background: radial-gradient(circle, rgba(37,117,141,1) 0%, rgba(37,117,141,0.01) 11%);
    transform: scaleX(15) scaleY(7);
    opacity: .4;
    animation-name: pulse-glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}