<div id="scroller" class="scroller"  [class.scrolled]="scrolled">
    <div class="bg-container">


        <div class="center-section">
            <div class="back-glow">
 
            </div>

            <div class="fore-box">
                <div id="logo-container">
                    <svg id="elevate-logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 706.47 181.07">
                        <defs>
                            <filter id="sofGlow" height="300%" width="300%" x="0%" y="0%">
                                <!-- Thicken out the original shape -->
                                <feMorphology operator="dilate" radius="4" in="SourceAlpha" result="thicken" />

                                <!-- Use a gaussian blur to create the soft blurriness of the glow -->
                                <feGaussianBlur in="thicken" stdDeviation="10" result="blurred" />

                                <!-- Change the colour -->
                                <feFlood flood-color="rgb(0,186,255,)" result="glowColor" />

                                <!-- Color in the glows -->
                                <feComposite in="glowColor" in2="blurred" operator="in" result="softGlow_colored" />

                                <!--	Layer the effects together -->
                                <feMerge>
                                    <feMergeNode in="softGlow_colored" />
                                    <feMergeNode in="SourceGraphic" />
                                </feMerge>

                            </filter>
                            <style>
                                .cls-1 {
                                    fill: #ea7c24;
                                }

                                .cls-2 {
                                    fill: #ec7c23;
                                }

                                .cls-3 {
                                    fill: none;
                                    stroke: #ec7c23;
                                    stroke-miterlimit: 10;
                                    stroke-width: 23px;
                                }

                                .cls-4 {
                                    fill: #6d6e70;
                                }

                                .cls-5 {
                                    fill: #4d565b;
                                }
                            </style>
                        </defs>
                        <g>
                            <path class="cls-5" d="M0,0H61.2V20.4H22.44V58.14h30.8v20.4H22.44v43.86H61.2v20.4H0V0Z" />
                            <path class="cls-5" d="M73.23,0h22.44V122.4h36.92v20.4h-59.36V0Z" />
                            <path class="cls-5"
                                d="M143.41,0h61.2V20.4h-38.76V58.14h30.8v20.4h-30.8v43.86h38.76v20.4h-61.2V0Z" />
                            <path class="cls-5"
                                d="M211.54,0h22.64l14.89,112.2L263.97,0h20.6l-21.62,142.8h-29.78L211.54,0Z" />
                            <path class="cls-5" d="M432.6,20.4h-23.46V0h69.36V20.4h-23.46v122.4h-22.44V20.4Z" />
                            <path class="cls-5"
                                d="M489.31,0h61.2V20.4h-38.76V58.14h30.8v20.4h-30.8v43.86h38.76v20.4h-61.2V0Z" />
                        </g>
                        <g>
                            <polygon class="cls-1"
                                points="314.44 142.35 285.6 141.56 330.9 36.93 344.19 65.91 314.44 142.35" />
                            <polygon class="cls-1"
                                points="358.61 30.89 345.94 60.97 333.26 30.89 345.94 1.35 358.61 30.89" />
                            <polygon class="cls-1"
                                points="378.3 142.8 407.27 142.27 360.79 35.17 347.7 64.58 378.3 142.8" />
                        </g>
                        <g>
                            <path class="cls-4"
                                d="M5.7,157.1v9.87h11.41v-9.87h3.08v23.59h-3.08v-11.06H5.7v11.06H2.66v-23.59h3.05Z" />
                            <path class="cls-4"
                                d="M83.61,168.65c0,8.12-4.94,12.43-10.96,12.43s-10.61-4.83-10.61-11.97c0-7.49,4.66-12.39,10.96-12.39s10.61,4.94,10.61,11.94Zm-18.31,.38c0,5.04,2.73,9.56,7.53,9.56s7.56-4.45,7.56-9.8c0-4.69-2.45-9.59-7.53-9.59s-7.56,4.66-7.56,9.84Z" />
                            <path class="cls-4"
                                d="M145.42,170.33c-.18-3.29-.39-7.25-.35-10.19h-.1c-.81,2.76-1.79,5.71-2.98,8.96l-4.17,11.45h-2.31l-3.82-11.24c-1.12-3.33-2.06-6.37-2.73-9.17h-.07c-.07,2.94-.25,6.9-.46,10.43l-.63,10.12h-2.91l1.65-23.59h3.89l4.03,11.41c.98,2.91,1.79,5.5,2.38,7.95h.1c.6-2.38,1.44-4.97,2.49-7.95l4.2-11.41h3.89l1.47,23.59h-2.98l-.59-10.36Z" />
                            <path class="cls-4"
                                d="M203.87,169.63h-9.17v8.51h10.22v2.56h-13.27v-23.59h12.74v2.56h-9.7v7.46h9.17v2.52Z" />
                            <path class="cls-4"
                                d="M246.43,176.98c1.37,.84,3.36,1.54,5.46,1.54,3.12,0,4.94-1.65,4.94-4.03,0-2.21-1.26-3.47-4.45-4.69-3.85-1.37-6.23-3.36-6.23-6.69,0-3.67,3.04-6.41,7.63-6.41,2.42,0,4.17,.56,5.22,1.16l-.84,2.49c-.77-.42-2.35-1.12-4.48-1.12-3.22,0-4.45,1.92-4.45,3.54,0,2.21,1.44,3.29,4.69,4.55,3.99,1.54,6.02,3.46,6.02,6.93,0,3.64-2.7,6.79-8.26,6.79-2.28,0-4.76-.67-6.02-1.5l.77-2.55Z" />
                            <path class="cls-4"
                                d="M318.57,179.92c-1.12,.56-3.36,1.12-6.23,1.12-6.65,0-11.66-4.2-11.66-11.94s5-12.39,12.32-12.39c2.94,0,4.79,.63,5.6,1.05l-.74,2.49c-1.16-.56-2.8-.98-4.76-.98-5.53,0-9.21,3.54-9.21,9.73,0,5.78,3.33,9.49,9.07,9.49,1.85,0,3.75-.38,4.97-.98l.63,2.42Z" />
                            <path class="cls-4"
                                d="M360.36,157.41c1.54-.32,3.75-.49,5.85-.49,3.26,0,5.36,.59,6.83,1.93,1.19,1.05,1.86,2.66,1.86,4.48,0,3.12-1.96,5.18-4.45,6.02v.1c1.82,.63,2.91,2.31,3.47,4.76,.77,3.29,1.33,5.57,1.82,6.48h-3.15c-.38-.67-.91-2.7-1.58-5.64-.7-3.25-1.96-4.48-4.73-4.58h-2.87v10.22h-3.05v-23.28Zm3.05,10.75h3.12c3.25,0,5.32-1.79,5.32-4.48,0-3.04-2.21-4.38-5.43-4.41-1.47,0-2.52,.14-3.01,.28v8.61Z" />
                            <path class="cls-4" d="M420.21,157.1v23.59h-3.05v-23.59h3.05Z" />
                            <path class="cls-4"
                                d="M463.5,157.38c1.47-.25,3.4-.46,5.85-.46,3.01,0,5.21,.7,6.62,1.96,1.29,1.12,2.07,2.84,2.07,4.94s-.63,3.82-1.82,5.04c-1.61,1.71-4.24,2.59-7.21,2.59-.91,0-1.75-.04-2.45-.21v9.45h-3.04v-23.31Zm3.04,11.38c.67,.17,1.51,.25,2.52,.25,3.68,0,5.92-1.79,5.92-5.04s-2.21-4.62-5.57-4.62c-1.33,0-2.34,.11-2.87,.25v9.17Z" />
                            <path class="cls-4" d="M524.58,159.69h-7.18v-2.59h17.47v2.59h-7.21v21h-3.08v-21Z" />
                            <path class="cls-4" d="M578.51,157.1v23.59h-3.05v-23.59h3.05Z" />
                            <path class="cls-4"
                                d="M641.97,168.65c0,8.12-4.94,12.43-10.96,12.43s-10.61-4.83-10.61-11.97c0-7.49,4.66-12.39,10.96-12.39s10.61,4.94,10.61,11.94Zm-18.31,.38c0,5.04,2.73,9.56,7.53,9.56s7.56-4.45,7.56-9.8c0-4.69-2.45-9.59-7.53-9.59s-7.56,4.66-7.56,9.84Z" />
                            <path class="cls-4"
                                d="M683.89,180.69v-23.59h3.33l7.56,11.94c1.75,2.77,3.12,5.25,4.24,7.67l.07-.04c-.28-3.15-.35-6.02-.35-9.7v-9.87h2.87v23.59h-3.08l-7.49-11.97c-1.64-2.62-3.22-5.32-4.41-7.88l-.11,.03c.18,2.98,.25,5.81,.25,9.73v10.08h-2.87Z" />
                        </g>
                        <path class="cls-3"
                            d="M611.24,47.47c12.57-9.52,32.16-24.35,40.05-30.32,9.09,7.83,35.86,30.89,43.68,37.63v77.47c-17.72,0-75.83,.63-93.49,.63,0-20.01,0-62.5,0-78.02,1.89-1.43,5.41-4.09,9.76-7.39Z" />
                        <circle class="cls-2" cx="571.86" cy="136.93" r="9.05" />
                    </svg>
                </div>
                <div style="margin-top: 50px">
                    <button (click)="getStarted()" class="big-button" mat-button mat-raised-button color="primary">Get
                        Started</button>
                </div>
            </div>

        </div>
    </div>

    <div class="second-step">

        <div class="center">

        
            <h1  style="margin-top: 40px !important; font-size: 65px;margin-bottom: 30px !important; line-height: 65px;">More Stuff</h1>


            <button mat-button (click)="scrolled = false">
                <mat-icon>chevron_left</mat-icon>
                Back</button>


                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>

                <h1>Line</h1>
        </div>
    </div>
</div> 