.help-btn {
    border: 1px solid blue;
    border-radius: 20px;
    display: inline-block;
}

.mobile-fullscreen-dialog {
    ::ng-deep .mat-mdc-dialog-container {
        padding: 0 !important;
        margin: 0 !important;
    }

    ::ng-deep .mat-mdc-dialog-content {
        max-height: 100vh !important;
        overflow: auto !important;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

.fade-out {
    position: absolute;
    animation: fade-out 500ms ease-in forwards;
}

.slide-in {
    animation: slide-in 250ms ease-out forwards;
}

.badge {
    position: absolute;
    top: -4px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.tool-bar {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 30px;
}