<router-outlet />

<button mat-icon-button class="menu" [matMenuTriggerFor]="mainMenu">
    <mat-icon>menu</mat-icon>
</button>

<mat-menu #mainMenu="matMenu">
    @for (group of groupedRoutes; track group.category; let i = $index) {
        @if (group.category !== 'Uncategorized') {
            <button mat-menu-item [matMenuTriggerFor]="subMenu" #menuTrigger>
                {{ group.category }}
            </button>
            <mat-menu #subMenu="matMenu">
                @for (route of group.routes; track route.path) {
                    @if (route.path) {
                        <button mat-menu-item [routerLink]="'/' + route.path">
                            {{ route.title }}
                        </button>
                    }
                }
            </mat-menu>
        }
    }
</mat-menu>