

<div id="rendered" class="rendered">

</div>

<div class="key">
    <div>
        <mat-icon>cleaning_services</mat-icon><br>
        House Cleaning
        <h2>{{houseCleaningCount}}</h2>
    </div>
    <div>
        <mat-icon>bug_report</mat-icon><br>
        Pest Control
        <h2>{{pestControlCount}}</h2>
    </div>
    <div>
        <mat-icon>grass</mat-icon><br>
        Lawn Maintenance
        <h2>{{lawnCount}}</h2>
    </div>
    <div>
        <mat-icon>pool</mat-icon><br>
        Pool Maintenance
        <h2>{{poolCount}}</h2>
    </div>

</div>