.right-panel {
    transition: all;
    height: 100vh;
    background-color: #f5f5f5;
    width: calc(100% - 50px);
    transform-origin: 100% 0;
    position: fixed;
    right: 0;
    padding-right: 0;
    box-shadow: -5px 0 19px 0 rgba(0, 0, 0, 0.15);
    padding-bottom: 0;
    z-index: 2;
}

.right-panel > div {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -48px;
}

.right-panel .close-detail-button {
    margin-left: -40px;
    border: 1px solid rgb(200, 200, 200);
    min-width: unset;
    background-color: #f5f5f5;
    padding: 0 3px;
    border-right: unset;
    border-radius: 50% 0 0 50%;
    box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.35);
    top: 30px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 1;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

@media (max-width: 400px) {
    .right-panel.scrolled .close-detail-button {
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2) !important;
    }
}
@media (max-width: 400px) {
    .right-panel .close-detail-button {
        border: unset;
        margin-left: calc(50% - 24px);
        border-radius: 50%;
        margin-top: -19px;
        box-shadow: unset;
        &.scrolled {
            box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.1) !important;
        }
    }
}

@media (max-width: 400px) {
    .right-panel {
        width: 100%;
        >div {
            padding-top: 60px;
        }
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

.slide-in {
    animation: slide-in 250ms ease-out forwards;
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: scaleX(1);
    }
    to {
        opacity: 0;
        transform: scaleX(0);
    }
}
.slide-out {
    animation: slide-out 250ms ease-in forwards;
}

