@keyframes slide-in {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.slide-in {
    animation: slide-in 250ms ease-out forwards;
    transform-origin: 0% 0%;
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0) translateY(-50px);
    }
}

.slide-out {
    animation: slide-out 250ms ease-in forwards;
    transform-origin: 0% 0%;
}