.mobile-container {
    display: table;
    margin: 0 auto;
    width: 400px;
    height: calc(100vh - 30px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 1px 1px 24px 1px #0000001a;
    position: relative;
}



.ctrl {
    position: fixed;
    z-index: 20;

}

@keyframes arrow-fade-in {
    from {
        opacity: 0;
        transform: scaleY(0) translateY(20px);
    }

    to {
        opacity: 1;
        transform: scaleY(1) translateY(0);
    }
}

.tool-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f2f0f0;

    button {
        height: auto;
        font-weight: 100;
        padding-top: 10px;

        img {
            height: 30px;
        }

        &.selected::after {
            content: " ";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 20px 20px 20px;
            border-color: transparent transparent #89AAE6 transparent;
            position: absolute;
            top: -14px;
            left: calc(50% - 20px);
            animation: arrow-fade-in 1s ease;
            transform-origin: 50% 100%;
        }
    }
}

.autho-item-container {
    >div {
        border-bottom: 1px dotted #aaa;
        padding-top: 10px;
        padding-bottom: 10px;
        &:last-child {
            border-bottom: none;
        }
    }
}

.no-items {
    padding-top: 100px !important;
    button[mat-fab] {
        height: 100px;
        width: 100px;
        mat-icon {
            font-size: 60px;
            height: 60px;
            width: 60px;
        }
    }
}

// .autho-item-container {
//     display: grid;
//     grid-template-columns: 1fr 1fr;

//     >* {
//         border-right: 1px dotted #aaa;
//         border-top: 1px dotted #aaa;

//         &:nth-child(even) {
//             border-right: none;
//         }
//         &:first-child {
//             border-top: none;
//         }
//     }
//     button {
//         height: auto;
//         display: block;
//         width: 100%;
//     }
// }