.container {
    width: 100vw;
    height: 100vh;
    background-color: #2e2b2b;
    padding-top: 100px;
    padding-left: 100px;
}

.box {

    border: 1px solid #545050;
    display: inline-block;
    width: 600px;
    height: 300px;
    position: relative;
}

@keyframes throb {
    from {
        opacity: 1;
        width: 10px;
        left:25px;
    }
    50% {
        width: 90px;
        box-shadow: 0px 0px 12px 4px rgba(247, 151, 237);
    }
    to {
        opacity: .1;
        width: 10px;
        left: 75%;
        box-shadow: 0px 0px 8px 3px rgba(247, 151, 237);
    }
}

.box::after {
    content: " ";
    width: 30px;
    height: 0px;
    box-shadow: 0px 0px 8px 3px rgba(247, 151, 237);
    bottom: 0;
    /* background-color: orange; */
    left: 25px;
    position: absolute;
    z-index: 1;
    animation: throb 1s  ease;
    animation-iteration-count: infinite;
}

