<div style="" class="parent">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="dark-btn"
            viewBox="0 0 158.26 175.37">
            <defs>
                <style>
                    .cls-1 {
                        filter: url(#AI_GaussianBlur_7-3);
                    }

                    .cls-1,
                    .cls-2 {
                        opacity: .12;
                    }

                    .cls-3 {
                        stroke: url(#linear-gradient-3);
                    }

                    .cls-3,
                    .cls-4,
                    .cls-5,
                    .cls-6 {
                        fill: none;
                        stroke-linecap: round;
                        stroke-miterlimit: 10;
                        stroke-width: 6.09px;
                    }

                    .cls-7 {
                        filter: url(#AI_GaussianBlur_4-2);
                    }

                    .cls-7,
                    .cls-8 {
                        opacity: .24;
                    }

                    .cls-9 {
                        fill: #fff;
                    }

                    .cls-2 {
                        filter: url(#AI_GaussianBlur_7);
                    }

                    .cls-4 {
                        stroke: url(#linear-gradient-4);
                    }

                    .cls-5 {
                        stroke: url(#linear-gradient-mouse-down);
                    }

                    .cls-6 {
                        stroke: url(#linear-gradient-mouse-down);
                    }

                    .cls-10 {
                        filter: url(#AI_BevelShadow_4);
                    }

                    .cls-11 {
                        filter: url(#AI_GaussianBlur_7-2);
                    }

                    .cls-11,
                    .cls-12 {
                        opacity: .35;
                    }

                    .cls-13 {
                        fill: #333;
                    }

                    .cls-12 {
                        filter: url(#AI_GaussianBlur_7-4);
                    }

                    .cls-14 {
                        filter: url(#AI_BevelShadow_3);
                    }

                    .cls-8 {
                        filter: url(#AI_GaussianBlur_4);
                    }

                    .cls-15 {
                        fill: gray;
                    }
                </style>
                <filter id="AI_GaussianBlur_7">
                    <feGaussianBlur stdDeviation="7" />
                </filter>
                <filter id="AI_GaussianBlur_7-2">
                    <feGaussianBlur stdDeviation="7" />
                </filter>
                <filter id="AI_BevelShadow_4" x="-20%" y="-20%" width="140%" height="140%">
                    <feGaussianBlur in="SourceAlpha" result="blur" stdDeviation="6" />
                    <feOffset dx="0" dy="0" in="blur" result="offsetBlur" />
                    <feFlood flood-color="transparent" result="flood" />
                    <feComposite in="flood" in2="offsetBlur" operator="in" result="blur2" />
                    <feGaussianBlur in="SourceAlpha" result="blur-3" stdDeviation="6" />
                    <feOffset dx="0" dy="0" in="blur-3" result="blur-4" />
                    <feSpecularLighting in="blur-4" result="specOut" specularConstant="1" specularExponent="10"
                        surfaceScale="25">
                        <fePointLight x="40000" y="160000" z="-10000" />
                    </feSpecularLighting>
                    <feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut" />
                    <feComposite in="SourceGraphic" in2="specOut" k1="0" k2="1" k3="1" k4="0" operator="arithmetic"
                        result="litPaint" />
                    <feMerge>
                        <feMergeNode in="blur2" />
                        <feMergeNode in="litPaint" />
                    </feMerge>
                </filter>
                <linearGradient id="linear-gradient" x1="48.03" y1="92.33" x2="108.04" y2="92.33"
                    gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#006a06" />
                    <stop offset="1" stop-color="#379c18" />
                </linearGradient>
                <linearGradient id="linear-gradient-mouse-down" x1="48.03" y1="92.33" x2="108.04" y2="92.33"
                gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#570413" />
                <stop offset="1" stop-color="#eb34558" />
            </linearGradient>
                <linearGradient id="linear-gradient-2" x1="74.99" y1="66.16" x2="81.08" y2="66.16"
                    xlink:href="#linear-gradient" />
                <filter id="AI_GaussianBlur_4">
                    <feGaussianBlur stdDeviation="4" />
                </filter>
                <filter id="AI_GaussianBlur_7-3">
                    <feGaussianBlur stdDeviation="7" />
                </filter>
                <filter id="AI_GaussianBlur_7-4">
                    <feGaussianBlur stdDeviation="7" />
                </filter>
                <filter id="AI_BevelShadow_3" x="-20%" y="-20%" width="140%" height="140%">
                    <feGaussianBlur in="SourceAlpha" result="blur" stdDeviation="6" />
                    <feOffset dx="0" dy="0" in="blur" result="offsetBlur" />
                    <feFlood flood-color="transparent" result="flood" />
                    <feComposite in="flood" in2="offsetBlur" operator="in" result="blur2" />
                    <feGaussianBlur in="SourceAlpha" result="blur-3" stdDeviation="6" />
                    <feOffset dx="0" dy="0" in="blur-3" result="blur-4" />
                    <feSpecularLighting in="blur-4" result="specOut" specularConstant="1" specularExponent="10"
                        surfaceScale="25">
                        <fePointLight x="5000" y="-10000" z="-10000" />
                    </feSpecularLighting>
                    <feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut" />
                    <feComposite in="SourceGraphic" in2="specOut" k1="0" k2="1" k3="1" k4="0" operator="arithmetic"
                        result="litPaint" />
                    <feMerge>
                        <feMergeNode in="blur2" />
                        <feMergeNode in="litPaint" />
                    </feMerge>
                </filter>
                <linearGradient id="linear-gradient-3" y1="93.02" y2="93.02" xlink:href="#linear-gradient" />
                <linearGradient id="linear-gradient-4" x1="74.99" y1="66.85" x2="81.08" y2="66.85"
                    xlink:href="#linear-gradient" />
                <filter id="AI_GaussianBlur_4-2">
                    <feGaussianBlur stdDeviation="4" />
                </filter>
            </defs>
            <g (mousedown)="mouseDown = true" (mouseout)="mouseDown = false" (mouseup)="mouseDown = false">

                <g id="button1" >
                    <g class="cls-1">
                        <circle class="cls-15" cx="78.43" cy="74.68" r="59.27" />
                    </g>
                    <g class="cls-12">
                        <ellipse cx="78.03" cy="103.31" rx="61.48" ry="55.13" />
                    </g>
                    <g class="cls-14">
                        <circle class="cls-13" cx="78.03" cy="90.71" r="61.48" />
                    </g>
                    <path class="cls-3"
                        d="M93.11,68.36c7.17,4.85,11.89,13.05,11.89,22.36,0,14.89-12.07,26.96-26.96,26.96s-26.96-12.07-26.96-26.96c0-9.01,4.41-16.98,11.2-21.88" />
                    <line class="cls-4" x1="78.03" y1="53.75" x2="78.03" y2="79.95" />
                    <g class="cls-7">
                        <path class="cls-9" d="M57.7,136.79s15.92,7.3,42.18,0c0,0-24.21,16.43-42.18,0Z" />
                    </g>
                </g>
                <g id="button2" [class.show]="mouseDown">
                    <g class="cls-2">
                        <circle class="cls-15" cx="75.83" cy="102.23" r="59.27" />
                    </g>
                    <g class="cls-11">
                        <ellipse cx="78.03" cy="75.47" rx="61.48" ry="55.13" />
                    </g>
                    <g class="cls-10">
                        <circle class="cls-13" cx="78.03" cy="90.02" r="61.48" />
                    </g> 
                    <path class="cls-5"
                        d="M93.11,67.67c7.17,4.85,11.89,13.05,11.89,22.36,0,14.89-12.07,26.96-26.96,26.96s-26.96-12.07-26.96-26.96c0-9.01,4.41-16.98,11.2-21.88" />
                    <line class="cls-6" x1="78.03" y1="53.06" x2="78.03" y2="79.26" />
                    <g class="cls-8">
                        <path class="cls-9" d="M57.7,136.1s15.92,7.3,42.18,0c0,0-24.21,16.43-42.18,0Z" />
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>