$speed: .5s;
$bar-height: 60px;
$color: #ffa500;
$inactive-color: #a8590a;
$background: linear-gradient(0deg, rgba(255, 165, 0, 1) 0%, rgba(255, 188, 64, 1) 100%);
$bounce-height: 5px;
$scale-height-max: 1.05;
$scale-height-min: 1;

.app {
    display: table;
    margin: 0 auto;
    width: 390px;
    margin-top: 60px;
    box-shadow: 1px 1px 24px 1px rgba(0, 0, 0, 0.1019607843) !important;

    >div {
        height: 100%;
        display: flex;
        flex-direction: column;

        >div:first-child {
            flex: 1;
        }

        >div:not(:first-child) {
            flex: none;
            height: $bar-height;
        }
    }
}


.menu-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: $bar-height;

    >div:not(.menu-dot) {
        background-color: $color;
        background: $background;
        height: 100%;
        position: relative;
        mask-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224200%22%20height%3D%2260%22%20viewBox%3D%220%200%204200%2060%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cstyle%3E%0A%20%20%20%20%20%20.cls-1%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20%23e6e6e6%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%3C%2Fstyle%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Cpath%20class%3D%22cls-1%22%20d%3D%22M2087%2C0s-5.44.69-7.25%2C7.57v-.07c-3.1%2C19.61-18.15%2C34.49-36.25%2C34.49s-33.15-14.88-36.26-34.49v.07c-1.81-6.89-7.24-7.57-7.24-7.57H0v60h4200V0h-2113Z%22%2F%3E%0A%3C%2Fsvg%3E);
        mask-size: 4200px 60px;
        mask-repeat: no-repeat;
        mask-position: -2000px 0px;
        mask-composite: exclude;
        transition: mask-position .5s ease;

        >div:not(.menu-dot) {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;

            >div {
                display: table;
                margin: 0 auto;
                height: 100%;

                >button {
                    width: 70px;
                    text-align: center;
                    display: inline-block;
                    align-content: center;
                    height: $bar-height;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;

                    mat-icon {
                        height: 30px;
                        width: 30px;
                        font-size: 30px;
                        position: relative;
                        transition: all $speed;
                        transform-origin: 0% 100%;
                        color: $inactive-color;
                    }

                    &.selected {
                        mat-icon {
                            opacity: 0;
                            transform: scaleY(0);
                        }
                    }
                }
            }
        }
    }
}

.masker-svg {
    position: absolute;
    top: -1px;
    height: 40px;
    left: 20px;
    transition: left $speed ease;
}

.masker {
    fill: rgb(250, 250, 250);
}

@keyframes center-icon {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes wiggle {
    from {
        // transform: translateY(-$bounce-height);
        transform: translateY(0) scaleY($scale-height-max);
    }

    25% {
        transform: translateY(-$bounce-height) scaleY($scale-height-min);
    }

    50% {
        // transform: translateY(-$bounce-height);
        transform: translateY(0) scaleY($scale-height-max);
    }

    75% {
        transform: translateY(-$bounce-height) scaleY($scale-height-min);
    }

    100% {
        transform: translateY(0);
    }
}

.menu-dot {
    position: absolute;
    left: 39px;
    height: 52px;
    top: -20px;
    transition: left 0.5s ease;
    width: 52px;
    border: 1px solid #df9b1d;
    border-radius: 50%;
    background: $background;
    transform-origin: 50% 0%;

    &.moving {
        animation: wiggle $speed ease;
    }

    mat-icon {
        color: #fff;
        position: absolute;
        left: calc(50% - 17px);
        top: 8px;
        height: 36px;
        width: 36px;
        font-size: 36px;
        transform-origin: 50% 100%;
        animation: center-icon .5s ease;
        opacity: .85;
    }

}

@media(max-width: 1025px) {
    .app {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100vh;
        margin-top: 0;
    }
}

#background-image-container  {
    background-image: url(https://elevateh.blob.core.windows.net/cdn/images/customer-portal/elevate-a-icon.svg);
    background-position-y: bottom;
    background-size: calc(100vh - 10%);
    background-position-x: -10%;
    background-repeat: no-repeat;
    width: 100%;
    transition: opacity .4s ease-out;
    background-color: #fff0;
    overflow: hidden;
    min-height: 868px;
    margin: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    height: 100vh;
}